<div class="flex place-content-center mt-20">
  <ul class="w-3/4 grid grid-cols-1 gap-10 md:grid-cols-4 text-center">
    <li class="h-[550px] content-center bg-gray-300 rounded-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 focus-within:-translate-y-1 focus-within:scale-105 duration-300">
      <ng-container *ngIf="showIcon; else addAlbum">
        <mat-icon (click)="toggleShow()" class="icon-size hover:cursor-pointer">add_circle</mat-icon>
      </ng-container>
    </li>
    <ng-container *ngFor="let album of albums">
      <app-album [album]="album"/>
    </ng-container>
  </ul>
</div>

<ng-template #addAlbum>
  <app-create-album (abortCreateEvent)="toggleShow()"/>
</ng-template>
