<div class="flex flex-col w-full h-full p-4">
  <div class="flex flex-row justify-between">
    <mat-icon (click)="abortCreate()" class="hover:cursor-pointer">arrow_back</mat-icon>
    <mat-icon (click)="createAlbum()" class="hover:cursor-pointer">add_circle_outline</mat-icon>
  </div>

  <span class="my-3 mt-2 mb-5 truncate text-xl font-medium text-gray-900">Add new Album</span>

  <form [formGroup]="albumForm" class="h-full">
    <div class="h-full grid grid-cols-2 grid-rows-[auto_auto_auto_1fr_auto] gap-1">
      <mat-form-field>
        <input matInput placeholder="Album Name" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Artist" formControlName="artist">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="date" placeholder="Release Date" formControlName="releaseDate">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="Number of Songs" formControlName="numberOfSongs">
      </mat-form-field>

      <mat-form-field class="flex-grow">
        <mat-label>Genre</mat-label>
        <mat-select formControlName="genre">
          <mat-option *ngFor="let genre of genres" [value]="getValueofGenre(genre)">{{ genre }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Rating</mat-label>
        <mat-select formControlName="rating">
          <mat-option *ngFor="let rating of ratings" [value]="rating">{{ rating }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-full col-span-2">
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>

      <label class="w-full col-span-2 flex flex-col text-left">
        <span class="text-md font-medium text-gray-500">Album Cover</span>
        <input class="" type="file" (change)="onFileSelected($event)">
      </label>
    </div>
  </form>
</div>
