<li class="">
  <div class="group h-[550px] [perspective:1000px]">
    <div class="relative h-full w-full transition-transform duration-700 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
      <div class="absolute h-full w-full [backface-visibility:hidden]">
        <div class="group block overflow-hidden rounded-lg bg-gray-100">
          <img src="assets/images/defaultAlbumCover.jpg" alt="Album Cover: {{album.name}}" class="group-hover:opacity-75" />
        </div>
        <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">{{album.name}}</p>
        <p class="pointer-events-none block text-sm font-medium text-gray-500">{{averageRating}}</p>
      </div>
      <div class="absolute h-full w-full [backface-visibility:hidden] [transform:rotateY(180deg)]">
        <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">{{album.name}}</p>
        <p class="pointer-events-none block text-sm font-medium text-gray-500">{{averageRating}}</p>
      </div>
    </div>
  </div>

</li>
